/** @format */

.wrapper {
  position: relative;
  max-width: 15rem;
}

.container {
  background-color: var(--grey-8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 2px var(--grey-4);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.875rem 1.5rem;
}
.container:hover {
  background-color: var(--white);
  border: 1px solid rgba(204, 2, 106, 0.5);
}
.container.focus {
  background-color: var(--white);
  border: 1px solid rgba(204, 2, 106, 1);
}

.dropIco {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--text);
  transform: rotate(-180deg);
  transition: all 0.3s;
}
.dropIco.focus {
  transform: rotate(0);
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 8px var(--grey-4);
  padding: 1.25rem 0;
}

.option {
  padding: 0.875rem 2rem;
}
.option:hover {
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
}
