/** @format */

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(14, 24, 42, 0.9);
}
.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1.5rem;
}

.container.transparent {
  background-color: transparent;
}

.brandWrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.brand {
  width: 2.875rem;
  height: 2.875rem;
}

.menu,
.toggleTheme {
  color: var(--white);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.navigate,
.search {
  display: none;
}

.feature {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .brand {
    width: 3.75rem;
    height: 3.75rem;
  }
  .menu,
  .toggleTheme {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    max-width: 45.625rem;
    margin: 0 auto;
    justify-content: space-between;
  }

  .brandWrap {
    width: fit-content;
  }
  .menu {
    display: none;
  }
  .toggleTheme {
    width: 2.25rem;
    height: 2.25rem;
  }
  .navigate {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    color: var(--white);
  }

  .search {
    display: block;
    overflow: hidden;
  }

  .searchWrap {
    display: flex;
    align-items: center;
    transform: translateX(90%);
    transition: all 0.3s;
  }

  .searchWrap.show {
    transform: translateX(0);
  }

  .searchIco {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    color: var(--white);
    cursor: pointer;
  }

  .searchIco.hide {
    display: none;
  }

  .navItem {
    color: var(--white);
    text-decoration: none;
  }

  .categoriesNav {
    margin: 0 1rem;
    cursor: pointer;
  }

  .navItem,
  .categoriesNav {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
  }

  .searchIco,
  .toggleTheme {
    padding: 0.2rem;
  }

  .categoriesNav:hover,
  .navItem:hover,
  .searchIco:hover,
  .toggleTheme:hover {
    background-color: var(--primary);
    color: var(--white);
  }

  .search {
    margin-right: 1rem;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    max-width: 69.0625rem;
    margin: 0 auto;
  }
  .brand {
    width: 4.3rem;
    height: 4.3rem;
  }
}
