/** @format */

.container {
  background-color: var(--bg);
  width: 70%;
  height: 100%;
  animation: appear 0.3s;
}
.list {
  padding: 1.3125rem 0.75rem;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  color: var(--text);
  margin-bottom: 1rem;
  background-color: var(--bg-sub);
  box-shadow: 0 0 2px var(--grey-4);
}
.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.item:last-child {
  margin-bottom: 0;
}

.right {
  width: 1.5rem;
  height: 1.5rem;
}

.back {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--text);
  transform: rotate(180deg);
  padding-bottom: 1.5rem;
}

@keyframes appear {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
