/** @format */

.container {
  padding: 1rem 1.5rem;
}

.wrapper {
  max-width: 45.625rem;
  margin: 0 auto;
}

.title {
  color: var(--text);
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

@media (min-width: 1280px) {
  .wrapper {
    max-width: 69.0625rem;
  }
}
