/** @format */

.container {
  padding: 1rem 1.5rem;
}

.title {
  color: var(--text);
}

.wrapper {
  max-width: 45.625rem;
  margin: 0 auto;
}

.card {
  margin-bottom: 1.5rem;
}

.list {
  margin-top: 1rem;
}

.avatar {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.main {
  display: flex;
  align-items: center;
}

.information {
  color: var(--text);
  margin-left: 1rem;
}

.name,
.major {
  display: none;
}

.details {
  margin-top: 0.5rem;
  color: var(--text);
}

.description {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;
  }

  .card {
    position: relative;
    width: 100%;
    height: 23rem;
    overflow: hidden;
  }

  .avatar {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 0;
  }

  .details {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.75rem;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 0;
    color: var(--white);
    transition: all 0.3s ease-in-out;
  }
  .information {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.875rem 0.5rem;
    background-color: var(--primary);
    color: var(--white);
    margin-left: 0;
    transition: all 0.3s;
  }

  .card:hover .information {
    transform: translateY(100%);
  }
  .card:hover .details {
    opacity: 1;
  }

  .list {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    height: 21rem;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    max-width: 69.0625rem;
    margin: 0 auto;
  }
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}
