/** @format */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--secondary);
  cursor: pointer;
}
.button:hover {
  filter: brightness(1.125);
}
.button:active {
  filter: brightness(0.975);
}
.button:disabled:hover,
.button:disabled:active {
  filter: brightness(1);
}
.button:disabled {
  filter: blur(0.875);
  cursor: no-drop;
}

.button.solid {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  color: var(--white);
}
.button.outline {
  background-color: var(--white);
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  color: var(--primary);
}
.button:disabled.solid {
  background-color: var(--grey-5);
  border: 1px solid var(--grey-5);
  border-radius: 0.5rem;
  color: var(--white);
}
.button:disabled.outline {
  background-color: var(--white);
  border: 1px solid var(--grey-5);
  border-radius: 0.5rem;
  color: var(--grey-5);
}

.button.small {
  padding: 0.25rem 2rem;
}
.button.standard {
  padding: 0.5rem 2rem;
}
.button.large {
  padding: 0.875rem 2rem;
}
.button.huge {
  padding: 0.9875rem 2rem;
}

.icon {
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
