/** @format */

.container {
  margin-top: 1rem;
}

.description {
  margin-top: 1.5rem;
}

.control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.preview {
  margin-right: 0.5rem;
}
