/** @format */

.container {
  padding: 1.5rem;
  max-width: var(--maxwidth-mobile);
  margin: 0 auto;
}

.body {
  max-width: 52.8125rem;
  margin: 2rem auto 0 auto;
}

.videoWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  width: 50rem;
  height: 35rem;
}

.main {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 1.5rem 0;
  }
  .body {
    margin-top: 3rem;
  }
}

@media (min-width: 1024px) {
  .body {
    display: flex;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: var(--maxwidth-desktop);
  }
}
