/** @format */

.container {
  position: relative;
}

.userWrap {
  position: relative;
}

.user {
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 150%;
  left: -50%;
  background-color: var(--white);
  border-radius: 0.5rem;
}

.menuItem {
  display: flex;
  align-items: center;
  color: var(--black);
  padding: 0.875rem 1rem;
  cursor: pointer;
}

.menuItem:hover {
  background-color: var(--primary);
  color: var(--white);
}

.icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
}

.text {
  white-space: nowrap;
}

.amount {
  position: absolute;
  top: -50%;
  right: -30%;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  background-color: var(--primary);
}

.menuItem .amount {
  color: var(--white);
}
