/** @format */

.container {
  text-align: center;
  color: var(--text);
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.option {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
  border: 0.25px solid var(--text);
}

.option:first-child {
  margin-right: 1rem;
}
