/** @format */

.container {
  position: relative;
  margin-top: 4rem;
  min-height: 80vh;
  margin-bottom: 3rem;
}

.wrapper,
.title {
  max-width: 45.625rem;
  margin: 1.5rem auto 0 auto;
}

.banner {
  background-image: url('../../../assets/Images/checkout_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15rem;
}

.title {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  color: var(--white);
  padding: 0 0 1rem 1.5rem;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  padding: 0 1.5rem;
}

@media (min-width: 768px) {
  .main {
    width: 100%;
    flex-direction: row;
    padding: 0;
  }
}

@media (min-width: 1280px) {
  .container {
    margin-top: 5rem;
  }
  .wrapper,
  .title {
    max-width: 69.0625rem;
  }
}
