/** @format */

.container {
  background-color: var(--bg-sub);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 4px var(--grey-4);
  max-width: 45.625rem;
  max-height: 30rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: appear 0.3s;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: var(--text);
}

.img {
  display: none;
}

.form {
  margin: 0 auto;
  padding: 1.5rem;
}

.brand {
  color: var(--primary);
  filter: brightness(1.25);
}

@keyframes appear {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .form {
    width: 55%;
  }
  .img {
    display: block;
    object-fit: cover;
    width: 45%;
    height: 70vh;
    border-radius: 0.5rem 0 0 0.5rem;
  }
}

@media (min-width: 1024px) {
  .img {
    width: 45%;
    border-radius: 0.5rem 0 0 0.5rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 50rem;
  }
}
