/** @format */

.wrapper {
  width: 100%;
  margin-bottom: 1.5rem;
}

.container {
  background-color: var(--bg-sub);
  border-radius: 0.5rem;
  box-shadow: 0 0 4px var(--grey-4);
  padding: 1rem 0.75rem;
  color: var(--text);
  height: 5.1875rem;
  overflow: hidden;
}
.container.show {
  height: fit-content;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  cursor: pointer;
}

.up {
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(-180deg);
  transition: all 0.3s;
}
.up.rotate {
  transform: rotate(0);
}

.note {
  margin-top: 0.25rem;
  color: var(--grey-7);
}

.button {
  margin-top: 3rem;
  width: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    position: sticky;
    top: 15%;
    left: 0;
    max-width: 20rem;
    height: 100%;
    padding: 0;
  }
  .head {
    cursor: auto;
  }
  .container {
    height: fit-content;
  }
  .up {
    display: none;
  }
}
