/** @format */

.container {
  display: flex;
  padding: 0.875rem;
  border-bottom: 1px solid var(--grey-4);
  color: var(--text);
}

.container:last-child {
  border-bottom: none;
}

.thumb {
  width: 8rem;
  min-width: 8rem;
  height: 6rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

.description {
  width: 100%;
  margin: 0.25rem 0 0.5rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.remove {
  margin-top: 0.5rem;
  color: var(--grey-7);
  cursor: pointer;
  text-align: right;
}

@media (min-width: 768px) {
  .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .thumb {
    margin-right: 1rem;
  }
  .price {
    margin-left: 1rem;
  }
}
