/** @format */

.container {
  background-color: var(--bg-sub);
  border-radius: 0.5rem;
  box-shadow: 0 0 4px var(--grey-4);
  color: var(--text);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.container:last-child {
  margin-bottom: 0;
}

.course {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title {
  color: var(--grey-7);
  margin-bottom: 0.75rem;
}

.arrow {
  width: 2rem;
  height: 2rem;
  transform: rotate(180deg);
}
