/** @format */

.input {
  height: 4.375rem;
  margin-top: 1rem;
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.permission {
  margin-left: 1.5rem;
}
