/** @format */

.superwrap {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 1.5rem 2rem;
}

.container {
  position: relative;
  padding: 1rem 2rem;
  background-color: var(--primary);
  border-radius: 0.5rem;
  color: var(--white);
  animation: appear 0.4s ease-in-out;
}
.container::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: var(--white);
  animation: countdown 5s;
}

.container.success {
  background-color: var(--success);
}
.container.warning {
  background-color: var(--warning);
  color: var(--black);
}
.content {
  width: 100%;
}
.container.error {
  background-color: var(--error);
}

.container,
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.close {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes countdown {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@media (min-width: 768px) {
  .superwrap {
    width: fit-content;
  }
  .container {
    min-width: 22rem;
  }
}
