/** @format */

.container {
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 25rem;
  margin: 1.5rem 2rem;
  padding: 1rem 2rem;
  background-color: var(--primary);
  border-radius: 0.5rem;
  color: var(--white);
  animation: appear 0.4s ease-in-out;
}
.container.success {
  background-color: var(--success);
}
.container.warning {
  background-color: var(--warning);
  color: var(--text);
}
.container.error {
  background-color: var(--error);
}

.container,
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  margin-right: 1rem;
}

.close {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
