/** @format */

.container {
  position: relative;
  margin-top: 1.5rem;
  color: var(--text);
  max-height: 20.625rem;
  overflow: hidden auto;
}

.title {
  margin-bottom: 1.5rem;
}

.item {
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.item:last-child {
  margin-bottom: 0;
}

.left {
  display: flex;
}

.name {
  width: 100%;
  margin-left: 0.5rem;
}

.thumb {
  width: 4rem;
  height: 4rem;
}
