/** @format */
.container {
  margin-top: 1rem;
}

.name {
  background-color: #fae4ef;
  color: var(--black);
  padding: 1rem 1.5rem;
}

.button {
  margin-top: 1.5rem;
}

.learn,
.download {
  width: 100%;
}

.download {
  margin-top: 0.75rem;
}

@media (min-width: 768px) {
  .button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1.5rem;
  }

  .learn,
  .download {
    width: fit-content;
  }

  .download {
    margin-top: 0;
    margin-left: 0.75rem;
  }
}
