/** @format */

:root {
  --primary: #cc026a;
  --primary-dark: #cc026a;
  --secondary: #0e182a;
  --secondary-light: #3f3d56;
  --white: #ffffff;
  --warning: #f2be03;
  --error: #d96464;
  --black: #212121;
  --success: #4fab2f;
  --info: #418aec;
  --grey-7: #919191;
  --grey-6: #fafafa;
  --grey-5: #e0e0e0;
  --grey-4: #bdbdbd;
  --grey-3: #7b7f82;
  --placeholder: #7b7f82;
}

* {
  box-sizing: border-box;
}

html {
  --bg: #ffffff;
  --bg-lighter: #fae4ef;
  --bg-sub: #fafafa;
  --text: #212121;
}

html[data-theme='dark'] {
  --bg: #0e182a;
  --bg-lighter: #121f36;
  --bg-sub: #3f3d56;
  --text: #ffffff;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam', sans-serif;
  background-color: var(--bg);
}

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  -webkit-transition: all 500ms !important;
  transition: all 500ms !important;
  -webkit-transition-delay: 0 !important;
  transition-delay: 0 !important;
}

p {
  margin: 0;
}
a {
  text-decoration: none;
}
/* Slick carousel library */

.dots {
  display: block;
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  color: var(--primary);
}

.dots li {
  position: relative;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  opacity: 0.5;
  background-color: var(--primary);
}
.dots li.slick-active button {
  opacity: 1;
}

/* Material custom */
.MuiPaper-elevation4 {
  box-shadow: none !important;
}

@font-face {
  font-family: 'Be Vietnam';
  src: local('Be Vietnam'),
    url(./assets/fonts/BeVietnam-Regular.ttf) format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: local('Be Vietnam'),
    url(./assets/fonts/BeVietnam-SemiBold.ttf) format('ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: local('Be Vietnam'), url(./assets/fonts/BeVietnam-Bold.ttf) format('ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam';
  src: local('Be Vietnam'),
    url(./assets/fonts/BeVietnam-ExtraBold.ttf) format('ttf');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
