/** @format */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../assets/Images/welcome.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 1.5rem;
  min-height: 90vh;
  margin-top: 4.25rem;
}

@media (min-width: 768px) {
  .container {
    margin-top: 5rem;
  }
}
