/** @format */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../assets/Images/welcome.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.wrap {
  background-color: var(--bg-sub);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 4px var(--grey-4);
  max-width: 25rem;
}

.title {
  width: fit-content;
  margin: 0 auto 1.5rem auto;
}
