/** @format */
.container {
  margin-top: 1rem;
}

.name {
  background-color: #fae4ef;
  color: var(--black);
  padding: 1rem 1.5rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1.5rem;
}
